.PaintCanvas {
  background-color: #999;
  padding: var(--app-space);
  transition: filter 300ms;
}
.PaintCanvas-canvas {
  box-shadow: 0 0 var(--app-space) #0009;
  display: block;
}
.PaintCanvas-size {
  background-color: #9999;
  left: 0;
  padding: var(--app-space);
  position: fixed;
  text-shadow: 1px 1px 0 #fff;
  top: 0;
}
