.ErrorPage {
  background-color: darkslategray;
  color: snow;
  min-height: 100vh;
  overflow: auto;
  text-shadow: -1px -1px 0 #fff6;
}
.ErrorPage-image {
  border-radius: 3px;
  border: 1px solid #fff6;
  max-width: 100%;
}
.ErrorPage-message{
  animation: ErrorPage-delay 1s backwards;
}
@keyframes ErrorPage-delay {
  0% { opacity: 0 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}
