.HistoryPage {
}
.HistoryPage-recordItem {
  margin-bottom: calc(3 * var(--app-space));
}
.HistoryPage-record {
  text-align: center;
}
.HistoryPage-image {
  border-radius: 3px;
  border: 1px solid gray;
  box-shadow: 0 0 10px #0003;
  height: auto;
  max-height: 90vh;
  max-width: 100%;
  width: auto;
}
