.PointerHandler {
  user-select: none;
}
.PointerHandler.-containing {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.PointerHandler-debugCanvas {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
