.PressIndicator {
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
}
.PressIndicator-progress {
  fill: none;
  stroke-linecap: round;
  stroke: var(--color-highlight-t);
}
