.App {
}
.AppTutorialOverlay {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.AppTutorialOverlay > * {
  height: 100%;
}
.AppTutorialOverlay-body {
  align-items: center;
  box-shadow: 0 0 30vmin #0003 inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}
.AppTutorialOverlay-emphasized {
  animation: blink 1s infinite step-end;
}
@keyframes blink {
    0% { visibility: hidden; }
   50% { visibility: visible; }
}
