:root {
  --app-animation-duration: 300ms;
  --app-header-height: 20px;
  --app-space: 16px;
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", YuGothic, sans-serif;
}

.container {
  margin: auto;
  max-width: 800px;
  padding: 0 var(--app-space);
}

@keyframes poyon {
  0% { transform: scale(0.9); }
  30% { transform: scale(1.1); }
  50% { transform: scale(0.95); }
  100% { transform: scale(1); }
}
